<div class="content">
    <div class="content-element" [@slideUp]>
        @if (globalData.getCurrentUser()) {
            <div class="inside-element">
                @if (specialtySearched ==='') {
                    <div class="option">
                        <h2 class="tittle-option">Seleccionar Especialidad</h2>
                        <div class="option-element">
                            @for (item of specialtysCharged; track $index) {
                                <button  class="btn-specialty" style='background-image: url({{item.img}});' (click)="setSpecialist(item.name)"></button>
                            }
                            @empty {
                                <div class="without-element">
                                    <h2> Sin especialidades</h2>
                                </div>
                            }                         
                        </div>
                    </div>
                    
                    @if (globalData.getCurrentUser().profile == 'administrador') {
                        <div class="select-patient">
                            <hr class="bar">
                            <h2>Seleccionar paciente</h2>
                            <div class="option-patient">
                                <select [(ngModel)]="emailSelectedForAdmin" (change)="onPatientSelected($event)">
                                    @for (item of globalData.getUsers(); track $index) {
                                        <option value="" selected disabled hidden>Selecciona una opcion</option>
                                        <option  *ngIf="item.profile === 'paciente'" [value]="item.email">{{item.name}} {{item.surname}} - {{item.age}} años</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }
                }
                @else {
                    <button class="btn-back" (click)="back()"><img class="img-back" src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-de6c8.appspot.com/o/images%2FbackImage.jpg?alt=media&token=5913a890-f697-429f-8cbf-c4874921e739"></button>

                    @if (!stateDays && !stateSchedules) {

                        @if (hasSpecialist) {
                            <div class="option">
                                <h2 class="tittle-option">Seleccionar especialista</h2>
                                <div class="option-element">
                                    @for (item of globalData.getUsers(); track $index) {
                                        @if (item.profile === 'especialista' && ( item.specialty[0] === (specialtySearched | lowercase) || item.specialty[1] === (specialtySearched | lowercase))) {
                                            <div class="option-button">
                                                <button class="btn-specialist" style='background-image: url({{item.img}});' (click)="setDays(item)" [disabled]="!item.workDays.length"></button>
                                                <h4 class="name-specialist">{{item.name | firstCapitalLetter}} {{item.surname | firstCapitalLetter}}</h4>
                                            </div>


                                        }
                                    }
                                </div>
                            </div>
                        }
                        @else {
                            <div class="without-element">
                                <h2> Sin especialista</h2>
                            </div>
                        }

                    }
                }
                
                @if (stateDays && !stateSchedules) {
                    <div class="option" >
                        <h2 class="tittle-option"> Seleccionar dia</h2>
                        <div class="option-days">
                            @for (item of daysForShifts; track $index) {
                                <button class="btn-day" (click)="setSchedules(item)">
                                    <h5>{{item | formatDate}}</h5>
                                </button>
                            }
                        </div>
                    </div>
                }


                @if (stateSchedules) {
                    <div class="option" >
                        <h2 class="tittle-option"> Seleccionar horario</h2>
                        <div class="option-schedules">
                            @for (item of hours; track $index) {
                                <button class="btn-schedules" (click)="saveShift(item)">{{item | formatTime}}</button>
                            }
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div> 

