
    <div class="questionnaire">
        <form [formGroup]="formUser" (ngSubmit)="register()">
            <h1 class="name-profile">Especialista</h1>
            <div class="row">
                <div class="column">
                    <div class="name">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="input-data" formControlName="name"/>
                        @if (formUser.get('name')?.hasError('required')){
                            <div class="validation-message" [hidden]="formUser.get('name')?.pristine">Nombre es requerido</div>
                        }
                        @else if (formUser.get('name')?.hasError('pattern') && formUser.get('name')?.touched) {
                            <div class="validation-message" >Solo letras estan permitidas</div>
                        }
                    </div>
                </div>
                <div class="column">
                    <div class="username">
                        <label class="form-label" >Apellido</label>
                        <input type="text" class="input-data" formControlName="surname"/>
                        @if (formUser.get('surname')?.hasError('required')) {
                            <div class="validation-message"  [hidden]="formUser.get('surname')?.pristine">Apellido es requerido</div>
                        }
                        @else if (formUser.get('surname')?.hasError('pattern') && formUser.get('surname')?.touched) {
                            <div class="validation-message" >Solo letras estan permitidas</div>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div class="age">
                        <label class="form-label">Edad</label>
                        <input type="number" class="input-data" formControlName="age" />
                        @if (formUser.get('age')?.hasError('required')) {
                            <div class="validation-message" [hidden]="formUser.get('age')?.pristine">Edad es requerida</div>
                        }
                        @else if (formUser.get('age')?.touched && formUser.get('age')?.hasError('ageMinMax')) {
                            <div class="validation-message"  [hidden]="formUser.get('age')?.pristine">Se requiere edad entre 18 y 99 años</div>
                        }
                    </div>
                </div>
                <div class="column">
                    <div class="dni">
                        <label class="form-label">Dni</label>
                        <input type="number" class="input-data" formControlName="dni"/>
                        @if (formUser.get('dni')?.hasError('required')){
                            <div class="validation-message"  [hidden]="formUser.get('dni')?.pristine">Dni es requerido</div>
                        }
                        @else if (formUser.get('dni')?.touched && (formUser.get('dni')?.hasError('min') || formUser.get('dni')?.hasError('max'))) {
                            <div class="validation-message"  [hidden]="formUser.get('dni')?.pristine">Dni debe tener entre 7 y 8 numeros. <br>({{formUser.get("dni")?.value?.toString()?.length}} numeros) </div>
                        }
                        @else if (formUser.get('dni')?.touched && formUser.get('dni')?.hasError('dniAvailable')) {
                            <div class="validation-message"  [hidden]="formUser.get('dni')?.pristine">El dni ya fue registrado.</div>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div class="email">
                        <label class="form-label">Email</label>
                        <input type="text" class="input-data"  formControlName="email" maxlength="25"/>
                        @if (formUser.get('email')?.hasError('required')) {
                            <div class="validation-message"  [hidden]="formUser.get('email')?.pristine">Mail es requerido</div>
                        }
                        @else if (formUser.get('email')?.hasError('email')) {
                            <div class="validation-message"  [hidden]="formUser.get('email')?.pristine">Formato de mail invalido</div>
                        }
                    </div>
                </div>

                <div class="column">
                    <div class="password">
                        <label class="form-label">Contraseña</label>
                        <input type="password" class="input-data" formControlName="password" maxlength="16"/>
                        @if (formUser.get('password')?.hasError('required')) {
                            <div class="validation-message" [hidden]="formUser.get('password')?.pristine">Contraseña es requerida</div>
                        }
                        @else if (formUser.get('password')?.touched && (formUser.get('password')?.hasError('minlength') || formUser.get('password')?.hasError('maxlength'))) {
                            <div class="validation-message" [hidden]="formUser.get('password')?.pristine">Contraseña debe ser entre 8 y 16 caracteres.({{formUser.get("password")?.value?.length}} caracteres)</div>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div class="specialty">
                        <label class="form-label">Especialidad</label>
                        <br>
                        <select style="margin-bottom: 10px;" formControlName="specialty" name="specialty" (change)="onValueChange()">
                            <option value="" selected disabled hidden>Selecciona una opcion</option>
                            @for (item of specialtyCharged; track $index) {
                                <option  value="{{item.name}}">{{item.name| firstCapitalLetter}}</option>
                            }
                        </select>
                        @if (formUser.get('specialty')?.hasError('required') && formUser.get('specialty')?.touched) {
                            <div class="validation-message" >Especialidad es requerida</div>
                        }
                        <br>
                        @if (formUser.get('specialty')?.value !== '') {
                            <label class="form-label">Otra especialidad</label>
                            <br>
                            <select  name="specialty" formControlName="secondSpecialty">
                                <option value="">No</option>
                                @for (item of specialtyCharged; track $index) {
                                    @if (item.name !== formUser.get('specialty')?.value) {
                                        <option  value="{{item.name}}">{{item.name| firstCapitalLetter}}</option>
                                    }
                                }
                            </select>
                        }


                    </div>
                </div>

                <div class="column">
                    <div class="specialty">
                        <label class="form-label">(Opcional)<br>Agregar una especialidad</label>
                        <input type="text" class="input-data" maxlength="16" formControlName="specialtyAdd"/>
                        <div class="add-specialty">
                            <input  type="button" class="btn-add" (click)="addSpecialty()" value="Add">
                        </div>
                    </div>
                </div>

            </div>

            <hr>
            <div style="margin-top: 10px;" class="text-center">
                <label class="form-label">Imagen para el perfil</label>
            </div>

            <div class="row">
                <div class="column">
                    <div class="img-user">
                        <input type="file" class="input-image" formControlName="img" (change)="setImage($event)"/>
                        @if (formUser.get('img')?.hasError('required')) {
                            <div class="validation-message" [hidden]="formUser.get('img')?.pristine">Image requerida</div>
                        }
                    </div>
                </div>
                <div class="column">
                    <div id="g-recaptcha">
                        <ngx-recaptcha2  #captchaElem [siteKey]="recaptcha.siteKey" [theme]="recaptcha.theme"  formControlName="recaptcha"></ngx-recaptcha2>
                    </div>
                </div>
            </div>
            <div class="row">
                
            </div>



            <div class="center-box">
                <button class="btn-send " [disabled]="formUser.invalid" >Registrarse</button>
            </div>
        </form>
    </div>
