<div class="content">

  <section class="hero-section section">
    <form action="#" class="search-form">
      <input type="text" name="filter" placeholder="Buscar por ..." [(ngModel)]="searchFilter">
    </form>
  </section>
  
  
  @if (globalData.getProfile() === 'administrador') {
    <app-shift-admin [arrayShifts]="globalData.getShifts()" [cancelFunction]="cancelShift" [searchFilter]="searchFilter"></app-shift-admin>
  }
  @else if (globalData.getProfile() === 'especialista') {
    <app-shift-specialist [arrayShifts]="globalData.getShifts()" [cancelFunction]="cancelShift" [searchFilter]="searchFilter"></app-shift-specialist>
  }
  @else{
    <app-shift-patient [arrayShifts]="globalData.getShifts()" [cancelFunction]="cancelShift" [searchFilter]="searchFilter"></app-shift-patient>
  }
  
</div>

