<div class="content">
    <div class="content-element" [@slideUp]>
        @if (!stateRegister) {
            <div class="inside-element" >    
                <div class="name-for-profile" >
                    @if (showTooltip) {
                        <h2 class="text-tooltip">{{textTooltip}}</h2>   
                    }
                     
                </div>
                <button class="type-image" (click)="changeStatePatient()" (mouseover)="showName('Paciente')" (mouseleave)="hideName()"><img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-de6c8.appspot.com/o/images%2Fpatient.jpg?alt=media&token=bb8d553d-78c6-445f-8e0c-dc832f630a0b" alt="patient" class="img-type"></button>
                <button class="type-image" (click)="changeStateSpecialist()" (mouseover)="showName('Especialista')" (mouseleave)="hideName()"><img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-de6c8.appspot.com/o/images%2Fspecialist.jpg?alt=media&token=c288040b-af77-4651-a429-469ee36dfdfc" alt="patient" class="img-type" ></button>
                @if (globalData.getProfile() == 'administrador') {
                    <button  class="type-image"  (click)="changeStateAdministrator()" (mouseover)="showName('Administrador')" (mouseleave)="hideName()"><img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-de6c8.appspot.com/o/images%2Fadministrator.jpg?alt=media&token=c59c6e25-a3e6-4ce5-a826-2e1af0a10f73" alt="patient" class="img-type" ></button> 
                }
            </div>
        }

        @if (stateRegister) {
            <div class="back">
                <button class="back" (click)="setStates()">Volver</button>
            </div>
            @if (statePatient && dniCharged) {
                <app-register-patient [dniCharged]="dniCharged"></app-register-patient>
            }
            @else if (stateSpecialsit && dniCharged ) {
                <app-register-specialist [dniCharged]="dniCharged"></app-register-specialist>
            }
            @else if (stateAdministrator && dniCharged) {
                <app-register-administrator [dniCharged]="dniCharged"></app-register-administrator>
            }

        }
    </div>
    
</div>
