
<div class="container">
    <div class="content">
        <div class="data-clinic">
            <h2 class="tittle-welcome">Bienvenido a la <span>Clinica Online</span></h2>
            <h4 class="text-welcome">Nos dedicamos a brindarle un acceso conveniente a los servicios de atención médica desde la comodidad de su hogar. Ya sea que esté buscando programar una cita, registrarse como nuevo paciente o administrar sus citas existentes, está en el lugar correcto.</h4>
            <h5 class="contact">Contacto : <a href="mailto:lauti1718garcia@gmail.com">lauti1718garcia&#64;gmail.com</a></h5>
        </div>

    </div>
</div>