
@if (stateNewUser) {
    <button class="btn-back absolute" (click)="changeStateNewUser()"><img class="img-back" src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-de6c8.appspot.com/o/images%2FbackImage.jpg?alt=media&token=5913a890-f697-429f-8cbf-c4874921e739"></button>
    <app-register></app-register>
}
@else if (!stateNewUser) {
    <div class="content">
        <div class="btn-head">
            <button class="btn-add" (click)="changeStateNewUser()">Nuevo usuario</button>
            <button class="btn-excel" (click)="downloadUserExcel()">Descargar usuarios</button>
        </div>
    
        <div class="option">
            <button (click)="selectTable('paciente')" [ngClass]="{'active-button' : viewPatient}">Pacientes</button>
            <button (click)="selectTable('especialista')" [ngClass]="{'active-button' : viewSpecialist}">Especialistas</button>
            <button (click)="selectTable('administrador')" [ngClass]="{'active-button' : viewAdministrator}">Administradores</button>
        </div>
    
        
        <!-- PATIENT -->
         @if (viewPatient) {
            <div [@slideDown]>
                <app-patient-table [users]="globalData.getUsers()"></app-patient-table>
            </div>
         }
    
    
        <!-- SPECIALIST -->
        @if (viewSpecialist) {
            <div [@slideDown]>
                <app-specialist-table [users]="globalData.getUsers()"></app-specialist-table>
            </div>
        }
    
    
    
        <!-- ADMINISTRATOR -->
         @if (viewAdministrator) {
            <div [@slideDown]>
                <app-admin-table [users]="globalData.getUsers()"></app-admin-table>

            </div>
        }
    
        
    
    </div>
}





